body {
    position: relative;
    overflow-x: hidden;
		height: 100vh;
		/* background-color: white !important; */
}

header {
	height: 10vh;
	font-variant: small-caps;
	font-size: 2em;
	font-weight: 300;
	line-height: 3.5rem;
	font-family: 'Red Hat Display', sans-serif;
	letter-spacing: 5px;
	background-color: white;
	/* background-color: rgba(164, 227, 245, 0); */
	color: #2e3d49;
}

.signup-container {
    margin: auto;
    min-height: 85vh;
    margin-top: 3vh;
}

.signin-container {
    margin: auto;
    min-height: 60vh;
    margin-top: 3vh;
}
.email-sent-modal{
    min-height: 50vh;
}
.email-sent-con img{
    width:8vw;
    margin-top: 5vh;
}

.conInput {
    position: relative;
    display: flex;
}

.toast-header {
    background-color: tomato;
}

.toast-header span {
    color: white;
}

#myToast {
    height: 0px;
    position: absolute;
    top: 10px;
    z-index: 99;
}
#resetModal .modal-content{
    min-height: 50vh;
}
#resetModal .modal-content h4{
    margin-top: 13vh;
}
.confirmed-image{
    background-image: url("../Images/confirmed.svg");
    background-position: center;
    background-size: cover;
    height: 30vh;
}
.stroke-white:hover svg {
    stroke: #343a40;
}
.signup-container .breadcrumb{
    background-color: white;
}
.signup-container .breadcrumb .active{
    color: #343a40;
}
.signup-container .breadcrumb{
    color: lightgrey;
}
.company-form{
    min-height: 40vh;
    height: 40vh;
}
.workspace-form{
    min-height: 40vh;
    height: auto;
}
.no-before::before{
    color: white !important;
}
#industryChooser option{
    font-size: 12px;
}
.industry-label{
    font-size: 12px;
}
.breadcrumb .fas{
    filter: opacity(0.8);
}

.con-appendage-join {
    height: auto;
    /* border: 1px solid red; */
    overflow: auto;
}

.appendage-join{
    min-height: 60px;
    max-height: 35vh;
    /* height: 60px; */
    overflow: auto;
    /* position: absolute; */
    z-index: 10000;
    /* border: 1px solid red; */
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,.1);
}

.inactive {
    height: 0;
    min-height: 0vh;
    max-height: 0vh;
    position: relative;
    z-index: 0;
    display: none;
}

.append-join{
    height: 50px;
    background-color: inherit;
    cursor: pointer;
    border-radius: 4px;
}

.append-join:hover {
    background-color: var(--color5);
    border: none;
}

.append-join.clicked {
    background-color: lightgray;
}

.skip-step span{
    font-size: 14px;
    color: grey;
}

#con-append-join .append-join {
    border-radius: .25rem;
    width: 100%;
    height: 50px;
    top: -4px;
    cursor: default;
}

.append-join:hover .add-append-btn.show {
    display: block;
}

.add-append-btn {
    display: none;
    cursor: pointer;
}

#join-workspace--submit-btn {
    position: relative;

}
