:root {
    --color1: #24A4A3;
    --color2: #95E7E7;
    --color3: #0A0F0F;
    --color4: #919191;
    --color5: #EAEAEA;
    --color6: #395E5E;
    --color7: #1D807F;
    --color8: #698B9D;
    --color9: #97A4AC;
    --color10: #091828;
    --color11: #284759;
    --color12: #9A6767;
}

body {
    position: relative;
    overflow-x: hidden;
    height: 100vh;
}

.signup-container {
    margin: auto;
    min-height: 85vh;
    margin-top: 3vh;
}

.signin-container {
    margin: auto;
    min-height: 60vh;
    margin-top: 3vh;
}
.email-sent-modal{
    min-height: 50vh;
}
.email-sent-con img{
    width:8vw;
    margin-top: 5vh;
} 

.conInput {
    position: relative;
    display: flex;
}

.toast-header {
    background-color: tomato;
}

.toast-header span {
    color: white;
}

#myToast {
    height: 0px;
    position: absolute;
    top: 10px;
    z-index: 99;
}
#resetModal .modal-content{
    min-height: 50vh;
}
#resetModal .modal-content h4{
    margin-top: 13vh;
}
.confirmed-image{
    background-image: url("../Images/confirmed.svg");
    background-position: center;
    background-size: cover;
    height: 30vh;
}
.stroke-white:hover svg {
    stroke: #343a40;
}
.signup-container .breadcrumb{
    background-color: white;
}
.signup-container .breadcrumb .active{
    color: #343a40;
}
.signup-container .breadcrumb{
    color: lightgrey;
}
.company-form{
    min-height: 40vh;
}
.workspace-form{
    min-height: 40vh;
    height: auto;
}
.no-before::before{
    color: white !important;
}
#industryChooser option{
    font-size: 12px;
}
.industry-label{
    font-size: 12px;
}
.breadcrumb .fas{
    filter: opacity(0.8);
}
.appendage-join{
    min-height: 12vh;
    max-height: 35vh;
    /* position: absolute; */
    z-index: 10000;
    width: 95%;
    border-radius: 5px;
}

.inactive {
    height: 0;
    min-height: 0vh;
    max-height: 0vh;
    position: relative;
    z-index: 0;
    display: none;
}

.append-join{
    height: 50px;
    background-color: var(--color5);
    cursor: pointer;
}

.append-join:hover {
    background-color: var(--color2);
    border: none;
}

.append-title {
    text-align: left;
}

.append-img{
    border-radius: 50%;
    height: 7vh;
    width: 7vh;
}
.append-img img{
    height:100%;
    width: 100%;
    transform: scale(.75);
    object-position: center;
}
.append-name{
    height: 50%;
}
.append-name span{
    font-weight: bold;
    font-size: 18px;
}
.append-id{
    height: 50%;
}
.append-id span{
    color: grey;
    font-size: 13px;
}
.add-append-btn{
    margin: 50% 0;
}
.skip-step span{
    font-size: 14px;
    color: grey;
}

#con-append-join .append-join {
    border-radius: .25rem;
    width: 100%;
    height: 50px;
    top: -4px;
    cursor: default;
}

.append-join:hover .add-append-btn.show {
    display: block;
}

.add-append-btn {
    display: none;
    cursor: pointer;
}

#join-workspace--submit-btn {
    position: relative;

}
