body {
    position: relative;
    overflow-x: hidden;
		height: 100vh;
		/* background-color: white !important; */
}

header {
	height: 10vh;
	font-variant: small-caps;
	font-size: 2em;
	font-weight: 300;
	line-height: 3.5rem;
	font-family: 'Red Hat Display', sans-serif;
	letter-spacing: 5px;
	background-color: white;
	/* background-color: rgba(164, 227, 245, 0); */
	color: #2e3d49;
}

.signup-container {
    margin: auto;
    min-height: 85vh;
    margin-top: 3vh;
}

.signin-container {
    margin: auto;
    min-height: 60vh;
    margin-top: 3vh;
}
.email-sent-modal{
    min-height: 50vh;
}
.email-sent-con img{
    width:8vw;
    margin-top: 5vh;
}

.conInput {
    position: relative;
    display: flex;
}

.toast-header {
    background-color: tomato;
}

.toast-header span {
    color: white;
}

#myToast {
    height: 0px;
    position: absolute;
    top: 10px;
    z-index: 99;
}
#resetModal .modal-content{
    min-height: 50vh;
}
#resetModal .modal-content h4{
    margin-top: 13vh;
}
.confirmed-image{
    background-image: url("../Images/confirmed.svg");
    background-position: center;
    background-size: cover;
    height: 30vh;
}
.stroke-white:hover svg {
    stroke: #343a40;
}
.signup-container .breadcrumb{
    background-color: white;
}
.signup-container .breadcrumb .active{
    color: #343a40;
}
.signup-container .breadcrumb{
    color: lightgrey;
}

.no-before::before{
    color: white !important;
}
#industryChooser option{
    font-size: 12px;
}
.industry-label{
    font-size: 12px;
}
.breadcrumb .fas{
    filter: opacity(0.8);
}

