body {
	font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  margin: 0;
	padding: 0;
	overflow-x: hidden;
}

main {
  display: grid;
  grid-template-columns: 15% 3fr auto;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "sidenav header header"
    "sidenav section aside"
    "sidenav section aside";
  width: 100vw;
  height: 100vh;
}

main > header {
  grid-area: header;
  background-color: white;
}

main > header > div {
	height: 100%;
}

main > nav {
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
	grid-area: sidenav;
	background-color: var(--color0, white);
	color: rgb(188,171,188);
}

main > section {
  display: flex;
  flex-flow: column nowrap;
  grid-area: section;
}

main > aside {
	width: 0;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  grid-area: aside;
}

main > aside.show {
	width: 30vw;
}

.con-about-project {
	min-height: 10vh;
}

.about-project-details {
	display: none;
}

.about-project-details.show {
	display: block;
}

.modal-full {
  min-width: 100vw;
  margin: 0;
}

#addProject .modal-content {
	border: none;
}

.modal-full .modal-content {
  min-height: 100vh;
}

.modal-75 {
	min-width: 75vw;
}

.modal-75 .modal-content {
	min-height: 80px;
}

#main-search {
	outline: none;
	border-radius: 3px;
	border: 1px solid var(--color26);
}

.con-data-search-react:hover {
	cursor: pointer;
	background-color: #1164A3;
	color: white;
}

.con-data-search-react:hover svg {
	fill: white;
}



