body {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
	overflow-x: hidden;
}

main {
  display: grid;
  grid-template-columns: 15% 3fr auto;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "sidenav header header"
    "sidenav section aside"
    "sidenav section aside";
  width: 100vw;
  height: 100vh;
}

main > header {
  grid-area: header;
  background-color: white;
}

main > nav {
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  grid-area: sidenav;
}

main > section {
  display: flex;
  flex-flow: column nowrap;
  grid-area: section;
}

main > aside {
	width: 0;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  grid-area: aside;
}

main > aside.show {
	width: 30vw;
}

.con-about-project {
	min-height: 10vh;
}

.about-project-details {
	display: none;
}

.about-project-details.show {
	display: block;
}

.modal-full {
  min-width: 100vw;
  margin: 0;
}

.modal-full .modal-content {
  min-height: 100vh;
}

