:root {
	--color0: white;
    --color1: #24A4A3;
    --color2: #95E7E7;
    --color3: #0A0F0F;
    --color4: #919191;
    --color5: #EAEAEA;
    --color6: #395E5E;
    --color7: #1D807F;
    --color8: #009688;
    --color9: #97A4AC;
    --color10: #091828;
    --color11: #284759;
    --color12: #3498DB;
    --color13: #24A4A3;
    --color14: #95E7E7;
    --color15: #0A0F0F;
    --color16: #ED9437;
    --color17: #AC0E20;
    --color18: #3E9CD1;
    --color19: #553F5D;
    --color20: #A895C7;
    --color21: #3F0E40;
    --color22: #ECB22E;
    --color23: #2EB67D;
    --color24: #2980B9;
    --color25: #B9CAD6;
		--color26: #A7BAC6;
		--color27: #009688;
		--color28: #5EB0E5;
		--color29: #F3F3F3;
		--color30:#E4E4E2;
		--color31: #2E3033;
		--color32: rgb(234, 241, 238);
}

* {
    box-sizing: border-box;
    padding:0;
}

header {
	height: 10vh;
	font-variant: small-caps;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1em;
	font-family: 'Red Hat Display', sans-serif;
	letter-spacing: 5px;
	background-color: white;
	/* background-color: rgba(164, 227, 245, 0); */
	color: #2e3d49;
}

.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}

.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: var(--color23, #2EB67D);
  animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

.preloader {
    position: absolute;
    /* background-color: rgba(0,0,0,0.5); */
    z-index: 9999;
    visibility: hidden;
    height: 100%;
    width: 100%;
}
.preloader svg {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

body > nav {
    background-color: #fff !important;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

body:not(nav) {
    background-color: #f8f8f8;
}

.c-pointer {
	cursor: pointer;
}

.scroller{
    overflow-y: scroll;
}
.scroller::-webkit-scrollbar {
    width: 4px;
    scrollbar-color: white black;
}
.scroller::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    display: none;
}

.scroller::-webkit-scrollbar-thumb {
    color: black;
		border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #343a40;
		box-shadow: inset 0 0 6px #343a40;
}

.box-shadow-0:focus{
    box-shadow: none;
}
.border-brand{
    border: 1px solid #343a40;
}
.border-radius-0{
    border-radius: 0;
}
.our-nav{
    height: 10vh;
}
.bg-brand{
    background-color: #343a40;
}
.underline-border{
    border: none;
    border-bottom: 1px solid #343434;
    border-radius: 0px;
}
.logo-btn{
    color: #343a40;
    background-color: white;
    border: 3px solid #343a40;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.btn-brand{
    color:white;
    background-color: #343a40;
    border: 1px solid #343a40;
    box-shadow: none;
    cursor: pointer;
}

.btn-brand:hover{
    color:#343a40;
    background-color: white;
}

.btn-outline-brand {
    color: #343a40;
    background-color: white;
    border: 1px solid #343a40;
    box-shadow: none;
}

.btn-outline-brand:hover{
    color:white;
    background-color: #343a40;
}

.con-input {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0;
}
.con-input span {
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: rgb(32, 30, 30);
    position: absolute;
    bottom: 10px;
    right: 20px;
    cursor: pointer;
}
.brand-input {
	position: relative;
    font-size: 18px;
    /* border-bottom: 1px solid #343a40; */
    border: 1px solid #868686;
    border-radius: .25rem;
    outline: none;
    box-shadow: none;
    height: 50px;
}
.brand-input:focus{
    box-shadow: none;
    color: var(--color23, #2EB67D);
    border-bottom-color: var(--color23, #2EB67D);
    text-decoration: none;
    padding-bottom: 0;
    line-height: 0px;
}

.brand-input.invalid {
    color: red;
    border-color: red;
}

.brand-input:focus ~ .floating-label,
.conInput > div:focus-within ~ .floating-label {
    color: var(--color23, #2EB67D);
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 15px;
  margin-bottom: 18.5px;
  /* transform: translateY(15px); */
  transition: 0.2s ease all;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label,
.conInput > div:focus-within ~ .floating-label,
.conInput > div.valid ~ .floating-label,
.floating-label.stay  {
  /* top: -6px; */
  transform: translateY(-21px);
  bottom: 10px;
  font-size: 11px;
  opacity: 1;
  height: 10px;
  z-index: 99;
  background-color: #fff;
}

[data-id].invalid {
    color: red !important;
}

.text-grey{
    color: grey;
}

.float-right{
    float: right;
}

.user-image-nav{
    width: 40px;
    height: auto;
    border-radius: 50%;
    background-color: white;
}
.nav-pills .nav-link.active{
    background-color: #343a40;
}
.nav-pills .nav-link{
    color: #343a40;
}

.cen-con {
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
    padding: 2rem 2rem 1rem;
    margin: 0 auto 2rem;
    position: relative;
    border: 1px solid #ddd;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: deepskyblue;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px deepskyblue;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .grey-out {
      pointer-events: none;
  }

	.b-shadow {
		box-shadow: 0 -1px 10px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1), 0 10px 30px #f3ece8;
	}

	.b-shadow-bottom-dark {
		box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 4px 0px;
	}

	.b-shadow-bottom-round-light {
		box-shadow: 0 -1px 10px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1), 0 10px 30px #f3ece8;
	}

	.b-shadow-slight-right {
		box-shadow: 2px 2px 3px 0 rgba(117,124,129,.12);
		border: 1px solid #dbe2e8;
	}

	.b-shadow-slight-left {
		box-shadow: -2px 2px 3px 0 rgba(117,124,129,.12);
		border: 1px solid #dbe2e8;
	}

	.flow {
		overflow-y: scroll;
	}

	.plannerr-tab {
		background-color: white;
		overflow: auto;
		clear: both;
		height: 90vh;
	}

	.tab-header {
		height: 100%;
	}

	.preset-svg {
    background-color: var(--color19);
}

.plannerr-btn {
	position: relative;
	border-radius: 2px;
	outline: none !important;
	border: none;
	font-size: 1.2rem;
	font-family: 'Red Hat Display', sans-serif;
}

.plannerr-tab-svg {
	height: 40vh;
}

.proceed {
	border: 1px solid var(--color23, #24A4A3);
	color: var(--color23, #24A4A3);
	background-color: white;
}

.proceed:hover {
	background-color: var(--color23, #24A4A3);
	color: white;
}

.return {
	border: var(--color4, #919191);
	color: var(--color4, #919191);
	background-color: white;
}

.return:hover {
	background-color: var(--color4, #919191);
	color: white;
}

.grey {
  filter: grayscale(1);
}

.preset-text3 {
	font-display: auto;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 2rem;
	line-height: 1.4em;
}

.preset-text2 {
	font-display: auto;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 1.5em;
	line-height: 1.4em;
}

.preset-nav {
	position: fixed;
	bottom: 0;
	height: 15vh;
	background-color: #000;
}

.plannerr-icon {
	background-color: inherit;
	outline: none;
	border: none;
	cursor: pointer;
}

.plannerr-sm-icon {
	background-color: inherit;
	outline: none;
	border: none;
}

.plannerr-icon svg {
	width: 32px;
	height: 32px;

}

.plannerr-sm-icon svg {
	width: 22px;
	height: 22px;
}

.no-outline {
	outline: none;
}
