* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Red Hat Display', sans-serif;
}

#pills-tabContent {
	margin: 0 !important;
	padding: 0 !important;
}

@media screen and (max-width: 768px) {
	#workspace-tab {
		height: 100%;
	}
}

#preset-right {
	position: relative;
}

.preset-nav ul {
	border: none !important;
}

#workspace-tab, #company-tab, #interest-tab, #sub-verification-tab, #sub-error-tab {
	background-color: white;
	overflow: auto;
	clear: both;
	min-height: 40vh;
	height: auto;
}

#create-workspace-form {
	overflow: auto;
	clear: both;
}

.nav-btn-create {
	border: none !important;
	border-radius: 0 !important;
	border-right: 1px solid #dbe2e8;
	max-width: 100%;
	overflow: hidden;
	text-align: center;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	text-transform: uppercase;
	white-space: nowrap;
	font-weight: 700;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
}

.nav-inactive {
	color: #7d97ad;
	-webkit-transition: background-color .2s ease-in-out,border-color .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
	transition: background-color .2s ease-in-out,border-color .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
	-o-transition: .2s box-shadow ease-in-out,.2s background-color ease-in-out,.2s border-color ease-in-out;
	transition: box-shadow .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
	transition: box-shadow .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
}

.nav-inactive:hover {
	-webkit-box-shadow: 2px 2px 3px 0 rgba(117,124,129,.12);
	box-shadow: 2px 2px 3px 0 rgba(117,124,129,.12);
	border-bottom: 1px solid #dbe2e8;
	background-color: #fafbfc;
}

.nav-btn-join {
	border: none !important;
	border-radius: 0 !important;
	border-left: 1px solid #dbe2e8;
	max-width: 100%;
	overflow: hidden;
	text-align: center;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	text-transform: uppercase;
	white-space: nowrap;
	font-weight: 700;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
}

.preset-heading {
	font-weight: 300;
	line-height: 1.3;
	color: #2e3d49;
}

.appendage-join{
	min-height: 10vh;
	max-height: 40vh;
	overflow: auto;
	z-index: 10000;
	background-color: white;
}

.inactive {
    height: 0;
    min-height: 0vh;
    max-height: 0vh;
    position: relative;
    z-index: 0;
    display: none;
}

.append-join {
	height: 10vh;
	background-color: inherit;
	padding: .35rem;
	overflow: hidden;
}

.append-name > span:first-child {
	font-size: 1.3em;
	text-overflow: ellipsis;
	line-height: 1.3rem;
	font-weight: 400;
}

.smoll-text {
	font-size: .9em;
	font-weight: 400;
}

.append-img {
	width: 50px;
	height: 45px;
	margin-right: 10px;
}

[data-loader] {
	position: absolute;
	top: 50%;
	right: 20px;
	width: 30px;
	height: 30px;
	transform: translateY(-55%);
}

.btn-join-workspace, .btn-join-workspace, [data-store-submit-name] {
	font-size: 1.3em;
	background-color: white;
	/* border-radius: 3px; */
	/* border: 1px solid var(--color26); */
	font-weight: lighter;
	line-height: 70%;
	cursor: pointer;
	height: 80%;
}

.btn-join-workspace:hover, .btn-join-workspace:hover {
	border: 1px solid var(--color4);
}

.add-append-btn {
    display: none;
    cursor: pointer;
}

#interest-tab {
	height: 75vh;
	position: relative;
}

#interests {
	height: 100%;
}

#btn-follow-interests1 {
	display: block;
}

#btn-follow-interests2 {
	display: none;
}

@media screen and (max-width: 768px) {

	#btn-follow-interests1 {
		display: none;
	}

	/* use sass to check if interest tab is active, then style button accordingly */

	#btn-follow-interests2 {
		display: block;
	}
}

#interest-tab > h4 {
	height: 10%;
	position: relative;
}

#sub-interest-tab {
	height: 70%;
}

#sub-interest-tab > div:first-child > div > div {
	flex: 1 0 auto;
	cursor: pointer;
}

#sub-interest-tab > div:first-child > div > div:hover {
	background-color: var(--color25, #B9CAD6);
}

#sub-interest-tab > div:last-child > ul > li {
	cursor: pointer;
	border-radius: 4px;
	overflow: auto;
	min-height: 6vh;
	height: auto;
	line-height: 6vh;
	white-space: nowrap;
}

#sub-interest-tab > div:last-child > ul > li:hover {
	background-color: var(--color23, #2EB67D);
}

[data-interest-id] {
	height: fit-content;
}

.clicked {
	background-color: var(--color1, #24A4A3);
}

.clicked:hover {
	filter: brightness(80%);
}

div.showfirst {
	display: flex;
	height: inherit;
}

li.showfirst a {
	color: rgba(0, 0, 0, 0.685);
	text-decoration: none;
}

li.active {
	background-color: var(--color23, #2EB67D);
}
